body{
    text-align: center;
    width: 850px;
}
header{
    font-weight: 200;
}
section{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
}
main{
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
}